<div class="row">
    <div class="span8">
        <form action="/theme" method="POST"> 
            {{#if view}}
                <input type="hidden" value="{{view}}" name="view">
            {{else}}
                <input type="text" placeholder="View Name (no space)" name="view">
            {{/if}}
            <textarea rows="20" class="span8" name="value">{{#if data}}{{data}}{{else}}New...{{/if}}</textarea>
            <input type='submit' class='btn btn-block' value="{{translate "send" session.language mapping}}">
        </form>
    </div>
    <div class="span4">
	{{#checkRole session.role "0,"}}
            <a href="/theme/new" class="btn"><i class="icon-pencil"></i>New Page</a> <br>
	{{/checkRole}}
        {{{view_list mapping}}}
    </div>
</div>
