{{#if session.connected}}
<div class="container">
<div class="span4"></div>
<div class="span4">
    {{#each data}}
        {{text}} - {{author}}<br>
    {{/each}}
    
          <form action="/messages/add/" method="post"> 
              <input type="text" name="text" class="span4" placeholder="Text">
              <select name="receiver" class="span4">
                  <option value='' default>Destinatario</option>
                  {{#each follower}}
                      <option value='{{email}}'>{{username}}</option>
                  {{/each}}
                  {{#each followed}}
                      <option value='{{email}}'>{{username}}</option>
                  {{/each}}
              </select>            
              <input type="submit" class="btn" value="Add">
          </form>
</div>
<div class="span4"></div>
</div>
{{/if}}
