<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>{{title}}</title>
   <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="The web presence of Marcello Palmitessa, about me, portfolio, resume, contacts">
   <meta name="author" content="Marcello Palmitessa">
   <meta name="keywords" content="web, design, marcello palmitessa, usability, nodejs, aspnet mvc, mvc, arashi, bootmetro, mackeepass, portfolio">

   {{! The Styles }}
   {{! Use different public/private block for styles }}
   <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|PT+Sans:400,700,400italic" rel="stylesheet" type="text/css">
   <link href="/static/public/css/bootstrap.css" rel="stylesheet">
   <link href="/static/public/css/bootstrap-responsive.css" rel="stylesheet">
   <link href="/static/public/css/style.css" rel="stylesheet">
   {{{block "stylesheets"}}}

   <link rel="shortcut icon"                                 href="/ico/favicon.ico">
   <link rel="apple-touch-icon-precomposed" sizes="144x144"  href="/ico/apple-touch-icon-144-precomposed.png">
   <link rel="apple-touch-icon-precomposed" sizes="114x114"  href="/ico/apple-touch-icon-114-precomposed.png">
   <link rel="apple-touch-icon-precomposed" sizes="72x72"    href="/ico/apple-touch-icon-72-precomposed.png">
   <link rel="apple-touch-icon-precomposed"                  href="/ico/apple-touch-icon-57-precomposed.png">

   <link rel="canonical" href="{{canonicalurl}}">

   <script src="/javascripts/modernizr-2.6.1.min.js"></script>

   <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3182578-7']);
      _gaq.push(['_trackPageview']);
      (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
   </script>

</head>
<body id="thebody">
<!--[if lt IE 7]>
   <div class="container">
      <p class="alert alert-block alert-warning chromeframe">You are using an outdated browser.&nbsp;<a href="http://browsehappy.com/">Upgrade your browser today</a>&nbsp;or&nbsp;<a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>&nbsp;to better experience this site.</p>
   </div>
<![endif]--><!--<Navbar></Navbar>-->

   <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
         <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">{{title}}</a>
            <div class="nav-collapse collapse">
               <ul class="nav">
               {{{ createMenu session.language session.role mapping}}}

                  <!--<li>-->
                     <!--<a href="/">Home</a>-->
                  <!--</li>-->
                  <!--<li>-->
                     <!--<a href="/about">About</a>-->
                  <!--</li>-->
                  <!--<li>-->
                     <!--<a href="/resume">Resume</a>-->
                  <!--</li>-->
                  <!--<li>-->
                     <!--<a href="/portfolio">Portfolio</a>-->
                  <!--</li>-->
                  <li>
                     <a href="/contact">Contact</a><!--<div id="getintouch"><img src="/images/get-in-touch.png" alt="getintouch"></div>-->
                  </li><!--<li><a href="?locale=it"><span class="label">ita</span></a><a href="?locale=en"><span class="label">eng</span></a></li>-->
                  <li>
                     <a id="followme-nav" href="http://www.twitter.com/aozoralabs" target="_blank">
                        <div id="followme" class="sprite-follow-me"></div></a><a id="followme-responsive" href="http://www.twitter.com/aozoralabs" target="_blank">Follow me</a>
                  </li>

               </ul>
               <!--<div class='nav pull-right'>-->
                  <!--{{! ISSUE ON IPHONE: https://github.com/twitter/bootstrap/issues/4756 }}-->
                  <!--<li class='dropdown'>-->
                        <!--<a href='#' class='dropdown-toggle' data-toggle='dropdown' data-target='#'>{{translate "language" session.language mapping}} <b class='caret'></b></a>-->
                     <!--<ul class='dropdown-menu'>-->
                     <!--{{{availableLanguage mapping}}}-->
                     <!--</ul>-->
                  <!--</li>-->
               <!--</div>-->
            </div><!--/.nav-collapse -->
         </div>
      </div>
   </div>

   <div class="container">
      {{! The message from the app for the user }}
      {{#if message}}
      <div class="container">
         <div class='alert fade in'>
            {{! ALERT: use ../session.language because language is outside the message array }}
            <a class='close' data-dismiss='alert' href='#'>&times;</a>{{#each message}} {{translate msg ../session.language ../mapping}}<br> {{/each}}
         </div>
      </div>
      {{/if}}

{{{body}}}

   <hr>
   {{! Footer }}
      <footer class="footer">
         <a id="totop" href="#" title="Back to top"></a>
         <div class="container">
            <div class="separator"></div>
            <div class="row">
               <div class="span3 align-left">
                  <p>
                     Powered by<br>
                     <a href="http://nodejs.org/" class="sprite-nodejs"></a>
                  </p>
               </div>
               <div class="span6 align-center">
                  <p>
                     This site is designed and coded by Marcello Palmitessa.
                  </p>
               </div>
               <div class="span3 align-right">
                  <p>
                     Coded with<br>
                     <a href="http://www.w3.org/html/logo/" class="sprite-html"></a>
                  </p>
               </div>
            </div>
         </div>
      </footer>

   {{! Javascript: Placed at the end of the document so the pages load faster }}
   <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
   <script src="/static/public/js/bootstrap.min.js"></script>

</body>
</html>

