<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
   <meta charset="utf-8">
   <title>{{title}}</title>
   <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">

   {{{css_render css "admin_core"}}}
   {{{css_render css "admin_dashboard"}}}
   {{{block "stylesheets"}}}

   <link rel="shortcut icon" href="/static/public/img/favicon.ico">

   {{{js_render js "admin_modernizer"}}}
</head>
<body>
   <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
   <![endif]-->

   <!--<div class="navbar navbar-fixed-top">-->
      <!--<div class="navbar-inner">-->
         <!--<div class="container-fluid">-->
            <!--<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">-->
               <!--<span class="icon-bar"></span>-->
               <!--<span class="icon-bar"></span>-->
               <!--<span class="icon-bar"></span>-->
            <!--</a>-->
            <!--<a class="brand" href="/">{{title}}</a>-->

            <!--<div class="nav-collapse collapse">-->
               <!--<ul class="nav">-->
                  <!--{{{ createMenu session.language session.role mapping}}}-->
               <!--</ul>-->
               <!--<div class='nav pull-right'>-->
                  <!--{{! ISSUE ON IPHONE: https://github.com/twitter/bootstrap/issues/4756 }}-->
                  <!--<li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown' data-target='#'>{{translate "language" session.language mapping}} <b class='caret'></b></a>-->
                     <!--<ul class='dropdown-menu'>-->
                        <!--{{{availableLanguage mapping}}}-->
                     <!--</ul>-->
                  <!--</li>-->
               <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
         <!--</div>-->
      <!--</div>-->
   <!--</div>-->

   <div class="container">
      <ul id="gn-menu" class="gn-menu-main">
         <li class="gn-trigger">
            <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
            <nav class="gn-menu-wrapper">
               <div class="gn-scroller">
                  <ul class="gn-menu">
                     <li class="gn-search-item">
                        <input placeholder="Search" type="search" class="gn-search">
                        <!--<a class="gn-icon gn-icon-search"><span>Search</span></a>-->
                        <a class="gn-icon gn-icon-search"><span>Search</span></a>
                     </li>
                     <li>
                        <a class="gn-icon gn-icon-download">Downloads</a>
                        <ul class="gn-submenu">
                           <li><a class="gn-icon gn-icon-illustrator">Vector Illustrations</a></li>
                           <li><a class="gn-icon gn-icon-photoshop">Photoshop files</a></li>
                        </ul>
                     </li>
                     <li><a class="gn-icon gn-icon-cog">Settings</a></li>
                     <li><a class="gn-icon gn-icon-help">Help</a></li>
                     <li>
                        <a class="gn-icon gn-icon-archive">Archives</a>
                        <ul class="gn-submenu">
                           <li><a class="gn-icon gn-icon-article">Articles</a></li>
                           <li><a class="gn-icon gn-icon-pictures">Images</a></li>
                           <li><a class="gn-icon gn-icon-videos">Videos</a></li>
                        </ul>
                     </li>
                  </ul>
               </div><!-- /gn-scroller -->
            </nav>
         </li>
         <li><a href="#">ArashiN</a></li>
         <li><a class="codrops-icon codrops-icon-prev" href="#"><span>Dashboard</span></a></li>
         <li><a class="codrops-icon codrops-icon-drop" href="#"><span>Log out</span></a></li>
      </ul>
   </div>


   <div class="container">
      {{! The message from the app for the user }}
      {{#if message}}
         <div class='alert fade in'>
            {{! ALERT: use ../session.language because language is outside the message array }}
            <a class='close' data-dismiss='alert' href='#'>&times;</a>
               {{#each message}}
                  {{translate msg ../session.language ../mapping}}<br>
               {{/each}}
         </div>
      {{/if}}

      {{{body}}}
   </div>

   <hr>
   {{! Footer }}
   <div class="container">
      <footer>
         <div class="pull-right">
            © {{title}}
         </div>
      </footer>
   </div>

   {{{js_render js "admin_core"}}}
   {{{js_render js "admin_dashboard"}}}


   <!--<script src="/static/public/js/admin/admin.core.js"></script>-->
   <!--&lt;!&ndash;<script src="/static/public/js/admin/admin.dashboard.js"></script>&ndash;&gt;-->
   <!--<script src="/static/public/js/admin/gnmenu.js"></script>-->
   <script>
      new gnMenu( document.getElementById( 'gn-menu' ) );
   </script>
   {{{block "scripts"}}}

</body>
</html>

