<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
   <meta charset="utf-8">
   <title>{{title}}</title>
   <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">

   {{{css_render css "admin_core"}}}
   {{{css_render css "admin_dashboard"}}}
   {{{block "stylesheets"}}}

   <link rel="shortcut icon" href="/static/public/img/favicon.ico">

   {{{js_render js "admin_modernizer"}}}
</head>
<body>
   <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
   <![endif]-->

   <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">ArashiN</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
         <ul class="nav navbar-nav">
            <li class="active"><a href="/">Dashboard</a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
               <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
               </ul>
            </li>
         </ul>
         <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
               <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
         </form>
         <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
               <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li><a href="#">Separated link</a></li>
               </ul>
            </li>
         </ul>
      </div><!-- /.navbar-collapse -->
   </nav>

   <!--<div class="container">-->
      <!--<ul id="gn-menu" class="gn-menu-main">-->
         <!--<li class="gn-trigger">-->
            <!--<a class="gn-icon gn-icon-menu"><span>Menu</span></a>-->
            <!--<nav class="gn-menu-wrapper">-->
               <!--<div class="gn-scroller">-->
                  <!--<ul class="gn-menu">-->
                     <!--<li class="gn-search-item">-->
                        <!--<input placeholder="Search" type="search" class="gn-search">-->
                        <!--&lt;!&ndash;<a class="gn-icon gn-icon-search"><span>Search</span></a>&ndash;&gt;-->
                        <!--<a class="gn-icon gn-icon-search"><span>Search</span></a>-->
                     <!--</li>-->
                     <!--<li>-->
                        <!--<a class="gn-icon gn-icon-download">Downloads</a>-->
                        <!--<ul class="gn-submenu">-->
                           <!--<li><a class="gn-icon gn-icon-illustrator">Vector Illustrations</a></li>-->
                           <!--<li><a class="gn-icon gn-icon-photoshop">Photoshop files</a></li>-->
                        <!--</ul>-->
                     <!--</li>-->
                     <!--<li><a class="gn-icon gn-icon-cog">Settings</a></li>-->
                     <!--<li><a class="gn-icon gn-icon-help">Help</a></li>-->
                     <!--<li>-->
                        <!--<a class="gn-icon gn-icon-archive">Archives</a>-->
                        <!--<ul class="gn-submenu">-->
                           <!--<li><a class="gn-icon gn-icon-article">Articles</a></li>-->
                           <!--<li><a class="gn-icon gn-icon-pictures">Images</a></li>-->
                           <!--<li><a class="gn-icon gn-icon-videos">Videos</a></li>-->
                        <!--</ul>-->
                     <!--</li>-->
                  <!--</ul>-->
               <!--</div>&lt;!&ndash; /gn-scroller &ndash;&gt;-->
            <!--</nav>-->
         <!--</li>-->
         <!--<li><a href="#">ArashiN</a></li>-->
         <!--<li><a class="codrops-icon codrops-icon-prev" href="/admin/"><span>Dashboard</span></a></li>-->
         <!--<li><a class="codrops-icon codrops-icon-drop" href="#"><span>Log out</span></a></li>-->
      <!--</ul>-->
   <!--</div>-->

   <div id="content">

      {{! The message from the app for the user }}
      {{#if message}}
      <div class="container">
         <div class='alert fade in'>
            {{! ALERT: use ../session.language because language is outside the message array }}
            <a class='close' data-dismiss='alert' href='#'>&times;</a>
               {{#each message}}
                  {{translate msg ../session.language ../mapping}}<br>
               {{/each}}
         </div>
      </div>
      {{/if}}

      {{{body}}}
   </div>

   {{{js_render js "admin_core"}}}
   {{{js_render js "admin_dashboard"}}}

   <!--<script src="/static/public/js/admin/admin.core.js"></script>-->
   <!--&lt;!&ndash;<script src="/static/public/js/admin/admin.dashboard.js"></script>&ndash;&gt;-->
   <!--<script src="/static/public/js/admin/gnmenu.js"></script>-->

   {{{block "scripts"}}}

</body>
</html>

